.input {
    position: relative;
    display: inline-flex;
    width: 100%;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    padding: 10px;
    outline: none;

    &::placeholder {
        color: #999;
    }

    &:hover,
    &:focus {
        border-color: #007bff;
    }
}

.medium {
    padding: 10px;
}

.large {
    padding: 15px;
}

.error {
    border-color: red !important;
}
